body {
  background-color: #72a1bf !important;
}

#home-button {
  color: #a0a3a5;
  background-color: #f2faff;
  margin: 10px 0 0 10px;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 200px 0 200px;
}

#coordinates-container {
  padding: 20px;
  width: 100%;
  background-color: white;
  border-bottom-left-radius: 36px;
}

#mapContainer {
  width: 100%;
  height: 56.2vh;
}

#mapContainer > div > div {
  border-bottom-right-radius: 36px;
}
